<!-- 1~5 : youtube api step -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://npmcdn.com/axios/dist/axios.min.js"></script>

    <!-- for CSS -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <!-- <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" /> -->
    <link href="/stylesheets/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/fonts.css" rel="stylesheet" type="text/css" media="all" />


</head>
  <body>
    <!-- for CSS body -->
    <div >
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">News Today</a></h1>
            <div id="menu">
                <ul>
                    <li class="active"><a href="#" accesskey="1" title="">Yonhap</a></li>
                    <li><a href="#" accesskey="2" title="">KBS</a></li>
                    <li><a href="#" accesskey="3" title="">SBS</a></li>
                    <li><a href="#" accesskey="4" title="">JTBC</a></li>
                    <li><a href="#" accesskey="5" title="">ADD</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div >
    <div id="welcome" class="container">
      <div id="player"></div>
      <p>Hanyang Univ. Graduation Project. </p>
    </div>
</div>



    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <!-- <div id="player"></div> -->

    <script>
      //to load video list from youtube
      //default : get 10 videos in vidList
      //YOUTUBE DATA API v3. Search
      //help for params : https://developers.google.com/youtube/v3/docs/search/list#--

      var optionParams={
        q:"뉴스",
        part:"id",
        channelId:"UCTHCOPwqNfZ0uiKOvFyhGwg",
        key:"AIzaSyD00N6Vnz9LFFQafkO-EVvGLnGeQtf4hcU",
        order:"date",
        type:"video",
        maxResults:20,
        regionCode:"KR",
        videoDuration:"short"
       };

      //한글을 검색어로 전달하기 위해선 url encoding 필요!
      optionParams.q=encodeURI(optionParams.q);

      var url="https://www.googleapis.com/youtube/v3/search?";
      for(var option in optionParams){
        url+=option+"="+optionParams[option]+"&";
      }

      //url의마지막에 붙어있는 & 정리
      url=url.substr(0, url.length-1);
      var vidList = []; 

            function getVideoList(){
              axios.get(url)
                .then((res) => {
      var vid = res.data.items;

      for(var content in vid){
        vidList.push(vid[content].id.videoId)
      }
      console.log(vidList);
                })
                .catch((res) => {
                    console.log('failed to load VideoList');
                })
            }
      getVideoList();



      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;

//360*640
        var hei = 360*1.5;
        var wid = 640*1.5;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: hei,
          width: wid,
          loadPlaylist:{
          listType:'playlist',
          list: vidList,
          index:parseInt(0),
          suggestedQuality:'small'
        },
          // videoId: ['liJVSwOiiwg','XNSNti8q_UQ']
          events: {
            'onReady': onPlayerReady,
            //'onStateChange': onPlayerStateChange
          }
        });
      }
      
      var isPlayed = false;
      var isMuted = false;

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.loadPlaylist(vidList);
        player.playVideo();
        isPlayed = true;
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 1000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }



      function resMsg() {
        console.log('resMSG');
         axios.get('http://localhost:3000/msg')
          .then((res) => {
          if(res.data.data == 'play' && !isPlayed){
            player.playVideo();
            isPlayed = true;
          }
          if(res.data.data == 'pause' && isPlayed){
            player.pauseVideo();
            isPlayed = false;
          }
          if(res.data.data == 'next'){
            player.nextVideo();
          }
          if(res.data.data == 'previous'){
            player.previousVideo();
          }
          if(res.data.data == 'mute' && !isMuted){
            player.mute();
            isMuted = true;
          }
          if(res.data.data == 'unmute' && isMuted){
            player.unMute();
            isMuted = false;
          }
          console.log("isPlayed : "+isPlayed);
          console.log("isMuted : "+isMuted);
          resMsg();
          })
          .catch((res) => {
              console.log('get fail');
              setTimeout(resMsg, 5000);
          })
      }
      resMsg();

    </script>
  </body>
</html>